* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #333;
}

/* 全站所有連結樣式 */
a {
  color: #0070f3;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  text-decoration: underline;
  color: #005bb5; /* 稍微深一點 */
}
